:root {
  --bar-height: 0;
  --sidebar-width: 28vw;
}

.App {
	display: grid;
	grid-template-rows: auto var(--bar-height);
	grid-template-columns: var(--sidebar-width) 1fr;
	height: 100vh;
}

.App-panel {
	height: calc(~"100vh -" var(--bar-height));
}
