.Mnemonic {
  padding-right: 10px;
  padding-left: 12px;
}

.Mnemonic-opcode {
  font-weight: bold;
}

.Mnemonic-arg-numeric {
  color: salmon;
}

.Mnemonic-arg-register {
  color: blueviolet;
}

.Mnemonic-jump {
  cursor: pointer;
}
